<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutTestSize="true"
	bootstrap="vendor/autoload.php"
	checkForUnintentionallyCoveredCode="false"
	colors="true"
	timeoutForSmallTests="10"
	timeoutForMediumTests="60"
	timeoutForLargeTests="300"
	xmlns=""
>
	<testsuites>
		<testsuite name="Default test suite">
			<directory>test</directory>
		</testsuite>
	</testsuites>
</phpunit>
